*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

body
{
    background: #eee;
}

.wrapper
{
    width: 100%;
    max-width: 960px;

}
.container
{
    display: flex;
    background: #fff;
    //border: 1px solid black;
}
.box
{
    height: 100px;
    width: 320px;
    
    
}
.one 
{
    background: red;
    flex-shrink: 5;
}
.two
{
    background: blue;
    flex-shrink: 2;
    
}
.three
{
    background: green;
    flex-shrink: 3;
}