*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

body
{
    background: #eee;
}

.wrapper
{
    width: 100%;
    max-width: 960px;

}
.container
{
    display: flex;
    background: #fff;
    //border: 1px solid black;
    flex-wrap: wrap;
}
.box
{
    height: 100px;
    min-width: 200px;
    flex-grow: 1;
    
    
}
.one 
{
    background: red;
    
}
.two
{
    background: blue;
    
    
}
.three
{
    background: green;
    
}