*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    text-align: center;
}

body
{
    background: #eee;
}

.wrapper
{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}
.wrapper
{
    background: #fff;
    
    height: 600px;
}
#blocks
{
    display: flex;
    margin: 10px;
    justify-content: space-between;
    
}
#blocks div
{
    flex: 0 0 100px;
    padding: 40px 0;
    background: grey;
}

.one {order: 0;}
.two {order: 0;}
.three {order: 0;}
.four {order:0;}